.main-number-container{
    display: grid;
    width: 100%;
    grid-template-areas: 
    "clear clear divide multiply"
    "seven eight nine subtract"
    "four five six add"
    "one two three equals"
    "zero zero decimal equals";
    grid-gap: 3px;
    padding: 5px;
    & button{
        font-size: 1em;
        border-radius: 4px;
        border-style: none;
        background-color: rgba(255, 255, 255, 0.562);
        padding: 1.2em 1em;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        &:hover{
            background-color: rgba(255, 255, 255, 0.76);
        }
    }

}

.span-two-column{
    grid-column: span 2;
}
.span-two-row{
    grid-row: span 3;
}

#clear{grid-area: clear;}
#divide{grid-area: divide;}
#multiply{grid-area: multiply;}
#substract{grid-area: substract;}
#add{grid-area: add;}
#zero{grid-area: zero;}
#one{grid-area: one;}
#two{grid-area: two;}
#three{grid-area: three;}
#four{grid-area: four;}
#five{grid-area: five;}
#six{grid-area: six;}
#seven{grid-area: seven;}
#eight{grid-area: eight;}
#nine{grid-area: nine;}
#decimal{grid-area: decimal;}
#equals{grid-area: equals;}