.main-number-container{
    display: grid;
    
    grid-template-columns: repeat(4, 4.5em);
    grid-template-rows: repeat(5, 4em);
    gap: 0.1em;
    & button{
        font-size: 1em;
        border-radius: 8px;
        border-style: none;
        background-color: blue;
        &.btn-operator{
            background-color: red;
        }
    }

}

.span-two-column{
    grid-column: span 2;
}
.span-two-row{
    grid-row: span 3;
}

