
.display-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-width: 18em;
}

.display-previous{
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 1.2em;
    height: 35%;
    padding-right: 1px;
    
}
.display-current{
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 2.5em;
    height: 65%;
    padding-right: 2px;
}