@import "./buttons.scss";
@import "./display.scss";
*,*::before, *::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
#root{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator-grid{
    width: 18em;
    height: 27.3em;
    display: grid;
    background: linear-gradient(#f45c43,#eb3349);
    grid-template-rows: repeat(2, 5rem);
    border-radius: 8px;
}
